.idea/*
.vscode
cmake-build-debug
build

*/.idea/*
surfing-db-java/target
surfing-db-java.jar
libtorch-cxx11-abi-shared-with-deps-1.13.1+cu117.zip
libtorch/
surfing-db-java/.idea/compiler.xml
surfing-db-java/.idea/workspace.xml
